node_modules/
.pnpm-store/

.expo/
dist/
build/
web-build/

ios/
android/

*.log
npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env
.env.local
.env.*.local

*.tsbuildinfo
coverage/

.idea/
.vscode/
!.vscode/extensions.json
